Repository Tellimer/open-source: changes, and which Codecov flags are due for each by the changed paths.
All: econify, classify

feat(econify): depricate classification logic
  packages/classify/src/utils/dry_run.ts
  packages/classify/src/v2/specialist/gdp_per_capita_test.ts
  packages/classify/src/v2/tests/pipeline.test.ts
  packages/classify/src/v2/tests/stages.test.ts
  packages/econify/README.md
  packages/econify/docs/README.md
  packages/econify/docs/VERIFIED_INDICATORS.md
  packages/econify/docs/guides/batch-processing.md
  packages/econify/src/api/pipeline_api_test.ts
  packages/econify/src/batch/batch.ts
  packages/econify/src/batch/batch_test.ts
  packages/econify/src/batch/classify_integration_test.ts
  packages/econify/src/batch/comprehensive_indicator_types_test.ts
  packages/econify/src/classification/classification.ts
  packages/econify/src/classification/classification_test.ts
  packages/econify/src/count/count-normalization.ts
  packages/econify/src/count/count-normalization_test.ts
  packages/econify/src/inference/inference.ts
  packages/econify/src/main.ts
  packages/econify/src/main_test.ts
  packages/econify/src/normalization/auto_targets.ts
  packages/econify/src/normalization/auto_targets_test.ts
  packages/econify/src/normalization/explain.ts
  packages/econify/src/normalization/explain_test.ts
  packages/econify/src/normalization/normalization.ts
  packages/econify/src/user_scenarios_test.ts
  packages/econify/src/workflows/e2e_comprehensive_test.ts
  packages/econify/src/workflows/economic-data-workflow.ts
  packages/econify/src/workflows/economic-data-workflow_test.ts
  packages/econify/test_output.txt
Due: econify, classify

feat(econify): more tests better logic
  packages/econify/src/batch/batch.ts
  packages/econify/src/main.ts
  packages/econify/src/normalization/auto_targets.ts
  packages/econify/src/normalization/explain.ts
  packages/econify/src/normalization/explain_test.ts
  packages/econify/src/normalization/indicator_type_rules.ts
  packages/econify/src/normalization/normalization.ts
  packages/econify/src/normalization/normalization_test.ts
  packages/econify/src/user_scenarios_test.ts
  packages/econify/src/workflows/e2e_comprehensive_test.ts
Due: econify

feat(econify): fixes and doc updates
  packages/econify/README.md
  packages/econify/docs/VERIFIED_INDICATORS.md
  packages/econify/docs/development/e2e-test-findings.md
  packages/econify/docs/development/known-data-issues.md
  packages/econify/docs/development/test-coverage.md
  packages/econify/src/main.ts
  packages/econify/src/normalization/explain.ts
  packages/econify/src/normalization/indicator_type_rules.ts
  packages/econify/src/patterns.ts
  packages/econify/src/patterns_test.ts
  packages/econify/src/types.ts
Due: econify

feat(econify): v1.3.0 - migrate to @tellimer/classify, remove internal classification
  packages/econify/CHANGELOG.md
  packages/econify/deno.json
Due: econify

feat(classify): v2 pipeline optimizations - GPT-5 thinking, batch size 5, time series data
  packages/classify/src/v2/orientation/orientation.ts
  packages/classify/src/v2/pipeline.ts
  packages/classify/src/v2/router/prompts.ts
  packages/classify/src/v2/router/router.ts
  packages/classify/src/v2/specialist/prompts.ts
  packages/classify/src/v2/specialist/specialist.ts
  packages/classify/src/v2/tests/pipeline.test.ts
  packages/classify/src/v2/tests/stages.test.ts
  packages/classify/src/v2/types.ts
Due: classify

feat(classify): add comprehensive source metadata to prompts
  packages/classify/src/types.ts
  packages/classify/src/v2/router/prompts.ts
  packages/classify/src/v2/specialist/prompts.ts
Due: classify

feat(classify): fix GPT-5 model configuration for OpenAI
  packages/classify/scripts/production/run_pipeline.ts
  packages/classify/src/v2/pipeline.ts
Due: classify

feat(classify): reduce production batch sizes to 5
  packages/classify/scripts/production/run_pipeline.ts
Due: classify

feat(classify): implement deep-review stage with Claude Sonnet 4.5
  packages/classify/src/v2/db/schema.ts
  packages/classify/src/v2/deep-review/deep-review.ts
  packages/classify/src/v2/deep-review/prompts.ts
  packages/classify/src/v2/deep-review/storage.ts
  packages/classify/src/v2/pipeline.ts
  packages/classify/src/v2/review/prompts.ts
  packages/classify/src/v2/review/review.ts
  packages/classify/src/v2/review/storage.ts
  packages/classify/src/v2/schemas/deep-review.ts
  packages/classify/src/v2/schemas/index.ts
  packages/classify/src/v2/types.ts
Due: classify

feat(classify): add random sampling to production pipeline
  packages/classify/scripts/production/run_pipeline.ts
Due: classify

feat(classify): add local production database reset script
  packages/classify/deno.json
  packages/classify/scripts/production/reset_local.ts
  packages/classify/src/v2/review/review.ts
Due: classify

fix(classify): remove non-existent columns from deep-review query
  packages/classify/src/v2/deep-review/storage.ts
Due: classify

feat(classify): add source metadata to deep-review context
  packages/classify/src/v2/db/schema.ts
  packages/classify/src/v2/deep-review/storage.ts
  packages/classify/src/v2/output/storage.ts
  packages/classify/src/v2/pipeline.ts
  packages/classify/src/v2/types.ts
Due: classify

fix(classify): add succeed/fail methods to Spinner class
  packages/classify/src/utils/spinner.ts
Due: classify

feat(classify): increase flagging confidence threshold to 0.90
  packages/classify/src/v2/review/flagging.ts
Due: classify

test(classify): set flagging threshold to 1.0 (100%)
  packages/classify/src/v2/review/flagging.ts
Due: classify

feat(classify): add production scripts and enable foreign keys
  packages/classify/deno.json
  packages/classify/docs/v2/PIPELINE_GUIDE.md
  packages/classify/scripts/production/apply_manual_corrections.ts
  packages/classify/scripts/production/apply_manual_reviews.ts
  packages/classify/scripts/production/migrate_railway_schema.ts
  packages/classify/scripts/production/resume_from_orientation.ts
  packages/classify/scripts/production/run_deep_review.ts
  packages/classify/scripts/production/sync_to_postgres.ts
  packages/classify/src/v2/db/client.ts
Due: classify

feat(econify): add temporal aggregation system and type-based normalization
  packages/econify/README.md
  packages/econify/src/batch/batch.ts
  packages/econify/src/batch/temporal_aggregation_test.ts
  packages/econify/src/main.ts
  packages/econify/src/normalization/auto_targets.ts
  packages/econify/src/normalization/explain.ts
  packages/econify/src/normalization/indicator_type_rules.ts
  packages/econify/src/normalization/normalization.ts
  packages/econify/src/scale/scale.ts
  packages/econify/src/scale/temporal_validation_test.ts
  packages/econify/src/time/temporal-aggregation.ts
  packages/econify/src/time/temporal-aggregation_test.ts
  packages/econify/src/workflows/economic-data-workflow.ts
Due: econify

chore(econify): update changelog
  packages/econify/CHANGELOG.md
Due: econify

fix(econify): resolve TypeScript type error with temporal_aggregation
  packages/econify/src/normalization/normalization.ts
Due: econify

style(econify): apply deno fmt formatting
  packages/econify/CHANGELOG.md
  packages/econify/README.md
  packages/econify/src/batch/batch.ts
  packages/econify/src/normalization/indicator_type_rules.ts
  packages/econify/src/scale/temporal_validation_test.ts
Due: econify

fix(econify): remove unused imports and variables
  packages/econify/src/batch/temporal_aggregation_test.ts
  packages/econify/src/normalization/normalization.ts
Due: econify

feat(classify): update sync to match by indicator name
  packages/classify/scripts/production/sync_to_postgres.ts
Due: classify

fix(econify): block time normalization for period-total discrete types
  packages/econify/CHANGELOG.md
  packages/econify/deno.json
  packages/econify/src/normalization/indicator_type_rules.ts
Due: econify

fix(econify): wrap case block in brackets for lint compliance
  packages/econify/src/normalization/indicator_type_rules.ts
Due: econify

docs(econify): update changelog for v1.3.1
  packages/econify/CHANGELOG.md
Due: econify

fix(econify): explain metadata now respects blocked time conversions
  packages/econify/src/normalization/explain.ts
Due: econify

docs(econify): version bump to 1.3.2
  packages/econify/CHANGELOG.md
  packages/econify/deno.json
Due: econify

chore(econify): fmt deno
  packages/econify/CHANGELOG.md
Due: econify

test(econify): add test for period-total count blocking in batch processing
  packages/econify/src/batch/temporal_aggregation_test.ts
Due: none

fix(explain): correct unit strings when time conversion is blocked
  packages/econify/src/batch/temporal_aggregation_test.ts
  packages/econify/src/normalization/explain.ts
Due: econify

fix(classify): allow time conversion for count+period-total (Tourist Arrivals)
  packages/econify/src/batch/temporal_aggregation_test.ts
  packages/econify/src/normalization/explain.ts
  packages/econify/src/normalization/indicator_type_rules.ts
Due: econify

feat(auto-target): prefer thousands/millions over ones for count indicators
  packages/econify/src/normalization/auto_targets.ts
  packages/econify/src/normalization/auto_targets_test.ts
Due: econify

chore(release): bump version to 1.3.3
  packages/econify/CHANGELOG.md
  packages/econify/deno.json
Due: econify

chore(econify): deno fmt
  packages/econify/CHANGELOG.md
  packages/econify/src/normalization/auto_targets_test.ts
Due: econify

feat: restate works
  apps/classify/restate/CLAUDE.md
  apps/classify/restate/README.md
  apps/classify/restate/bun.lock
  apps/classify/restate/docker-compose.yml
  apps/classify/restate/package.json
  apps/classify/restate/tsconfig.json
  apps/classify/workflow/scripts/run-resume.ts
  deno.lock
Due: none

feat(classify): clusters working great
  apps/classify/restate/CLUSTER.md
  apps/classify/restate/Dockerfile.service
  apps/classify/restate/QUICKSTART-CLUSTER.md
  apps/classify/restate/SCALING_UPGRADE.md
  apps/classify/restate/bun.lock
  apps/classify/restate/docker-compose.cluster.yml
  apps/classify/restate/docker-compose.services.yml
  apps/classify/restate/docs/CLUSTER.md
  apps/classify/restate/nginx.conf
  apps/classify/restate/package.json
  apps/classify/restate/scripts/generate-compose.ts
  apps/classify/restate/src/index.ts
  apps/classify/restate/src/scripts/classify-cluster.ts
  apps/classify/restate/src/scripts/cluster-all-in-one.ts
  apps/classify/restate/src/scripts/start-cluster.ts
  apps/classify/restate/traefik.yml
Due: none

Path conditions:
  econify: any of: packages/econify/, but not: packages/*/tests/, packages/*/examples/, packages/*/**/*_test.ts, packages/*/**/*.test.ts
  classify: any of: packages/classify/, but not: packages/*/tests/, packages/*/examples/, packages/*/**/*_test.ts, packages/*/**/*.test.ts
